.root {
  display: flex;
  flex-direction: column;
  height: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  font-weight: 600;
  font-size: 16px;
  & a {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.root__active {
  font-weight: 700;
  color: var(--secondary-color);
}

.tile__active {
  background: var(--secondary-color);
  border-radius: 3px 3px 0 0;
  height: 4px;
  position: absolute;
  bottom: 0;
  width: calc(100%);
  //centrar horizontalmente
  left: 50%;
  transform: translateX(-50%);
}
